@import "../../scss/_init";

:host {
    svg.icon {
        width: 100%;
        height: 100%;

        .bg {
            transition: 0.4s all ease;
        }
    }

    &:not(.disabled) {
        &:hover {

            .bg {
                fill: $primaryColor;
            }
        }
    }
}