<svg
    class="icon icon-circle-plus"
    viewBox="0 0 200 200"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    *ngIf="iconType==='circle_plus'"
>
    <circle
        cx="100"
        cy="100"
        r="100"
        fill="#ddd"
        class="bg"
    />
    <rect
        x="90"
        y="40"
        width="20"
        height="120"
        fill="#fff"
        class="mark"
    />
    <rect
        x="40"
        y="90"
        width="120"
        height="20"
        fill="#fff"
        class="mark"
    />
</svg>

<svg
    class="icon icon-circle-plus"
    viewBox="0 0 200 200"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    *ngIf="iconType==='circle_minus'"
>
    <circle
        cx="100"
        cy="100"
        r="100"
        fill="#ddd"
        class="bg"
    />
    <rect
        x="40"
        y="90"
        width="120"
        height="20"
        fill="#fff"
        class="mark"
    />
</svg>

<svg
    class="icon icon-circle-plus"
    viewBox="0 0 200 200"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    *ngIf="iconType==='plus'"
>
    <rect
        x="90"
        y="40"
        width="20"
        height="120"
        fill="#fff"
        class="mark"
    />
    <rect
        x="40"
        y="90"
        width="120"
        height="20"
        fill="#fff"
        class="mark"
    />
</svg>