@import "../../scss/_init";

:host::ng-deep {
    $headerHeight: 40px;

    .header-part {
        @include clearfix();
        width: 100vw;
        height: $headerHeight;
        padding: 0 $basePx * 1.5;
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: #fff;

        &>.pull-left,
        &>.pull-right {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .logo-reader {
            margin-right: 30px;
            font-weight: bolder;
            color: #42a5f5;
        }
    }

    .static-part {
        border-top: 1px solid $borderColor;
        height: 100vh;
        display: flex;

        .catalog-part {
            width: 300px;
            border-right: 1px solid $borderColor;
            background-color: #f8f8f8;
        }

        .content-part {
            flex: 1;
            overflow-x: hidden;
            overflow-y: auto;
        }

        ::-webkit-scrollbar {
            width: 0;
        }
    }

    .group-op-list {
        display: flex;
        align-items: center;
    }

    .item-op {
        position: relative;
        padding-right: $basePx;
        margin-right: $basePx;

        .img-icon {
            margin-right: $basePx;

            &:last-child {
                margin-right: 0;
            }
        }

        .label-value {
            margin-right: $basePx * 2;
            display: inline-block;
            vertical-align: middle;

            &:last-child {
                margin-right: 0;
            }
        }

        &:after {
            content: "";
            width: 1px;
            height: 18px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            background-color: #ddd;
        }
    }

    .label-value {
        .label {
            margin-right: $basePx;
        }
    }

    .color-circle {
        @include circle(14px);
        margin-right: $basePx;
        border: 1px solid #ddd;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }

    .svg-test {
        width: 200px;
        height: 200px;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 999;
        transform: translate(-50%, -50%);
        background-color: darkcyan;
    }

    .op-read-mode {

        .c-html-arrow {
            margin-left: $basePx * 0.5;
            transform: translateY(4px);

            &.direction-down {
                transform: translateY(-4px);
            }
        }

        &:hover {
            .rect-bg {
                fill: $primaryColor;
            }

            .rect-block-left {
                animation: AniRectBlockLeft 0.8s ease;
            }

            .rect-block-right {
                animation: AniRectBlockRight 0.8s ease;
            }

            .arrow {
                border-left-color: $primaryColor;
                border-top-color: $primaryColor;
            }
        }
    }

    .op-font-size {
        .value-font-size {
            margin-right: 10px;
        }

        .value {
            .img-icon {
                vertical-align: bottom;
            }
        }
    }
}