<div class="header-part">
    <div class="pull-left">
        <div class="logo-reader">Ebook Reader</div>
        <div class="group-op-list">
            <div class="item-op">
                <c-svg-window class="img-icon clickable"></c-svg-window>
                <c-svg-list class="img-icon clickable"></c-svg-list>
                <c-svg-letter class="img-icon clickable"></c-svg-letter>
            </div>
        </div>
    </div>
    <div class="pull-right"></div>
</div>
<div class="static-part">
    <div class="catalog-part"></div>
    <div class="content-part">
    </div>
</div>