@import "./_init";

@keyframes moveFromLeft {
    from {
        transform: translate(-100%);
    }

    to {
        transform: translate(0);
    }
}

@keyframes scalePath {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@keyframes moveFromRight {
    from {
        transform: translate(100%);
    }

    to {
        transform: translate(0);
    }
}

@keyframes rotateFromLeft {
    from {
        transform: rotate(225deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes AniRectBlockLeft {
    from {
        width: 0;
    }

    60% {
        width: 110px;
    }
}

@keyframes AniRectBlockRight {
    from {
        x: 140px;
        width: 40px;
    }

    60% {
        x: 20px;
        width: 160px;
    }
}